<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrjuoss.osg4.flutter.tugas.uiux.osg4_flutter_tugas_uiux_mujaki">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
